.uh-s-lucario .uh-background { background-color: #2b3e50; }
.uh-s-lucario .uh-background-inverted { background-color: #f8f8f2 !important;  }
.uh-s-lucario .uh-color {  color: #f8f8f2; }
.uh-s-lucario .uh-color-inverted {  color: #2b3e50 !important; }
