.uh-s-dracula .uh-linenumber {  color: #6D8A88; }
.uh-s-dracula .uh-selection-background { background: rgba(255, 255, 255, 0.10); }
.uh-s-dracula .uh-activeline-background { background: rgba(255,255,255,0.1); }
.uh-s-dracula .uh-background { background-color: #282a36; }
.uh-s-dracula .uh-background-inverted { background-color: #f8f8f2 !important;  }
.uh-s-dracula .uh-color {  color: #f8f8f2; }
.uh-s-dracula .uh-color-inverted {  color: #282a36 !important; }

