.uh-s-monokai .uh-background { background: #272822; }
.uh-s-monokai .uh-color {  color: #f8f8f2; }
.uh-s-monokai .uh-color-inverted { color: #272822 !important ; }
.uh-s-monokai .uh-background-inverted { background: #f8f8f2 !important ; }
.uh-s-monokai .uh-selected-background { background: #49483E; }
.uh-s-monokai .splitpanes--vertical > .splitpanes__splitter { background: #49483E !important }
.uh-s-monokai .splitpanes--horizontal > .splitpanes__splitter { background: #49483E !important }
.uh-s-monokai .uh-selection-background { background: rgba(73, 72, 62, .99); }
.uh-s-monokai .splitpanes--vertical > .splitpanes__splitter { border-left: 2px solid #272822 !important }
.uh-s-monokai .splitpanes--horizontal > .splitpanes__splitter { border-top: 2px solid #272822 !important }
.uh-s-monokai .uh-linenumber {  color: #d0d0d0; }
.uh-s-monokai .uh-activeline-background { background: #373831; }
