.uh-s-seti .uh-background { background-color: #151718 !important; }
.uh-s-seti .uh-color {  color: #CFD2D1 !important; }
.uh-s-seti .uh-color-inverted { color: #151718 !important !important ; }
.uh-s-seti .uh-background-inverted { background: #CFD2D1 !important !important ; }
.uh-s-seti .uh-linenumber {  color: #6D8A88; }
.uh-s-seti .uh-selection-background { background: rgba(255, 255, 255, 0.10); }
.uh-s-seti .uh-activeline-background { background: #101213; }
