.uh-s-yeti .uh-background { background-color: #ECEAE8 !important; }
.uh-s-yeti .uh-color {  color: #d1c9c0 !important; }
.uh-s-yeti .uh-color-inverted { color: #ECEAE8 !important !important ; }
.uh-s-yeti .uh-background-inverted { background: #d1c9c0 !important !important ; }
.uh-s-yeti .uh-linenumber {  color: #adaba6; }
.uh-s-yeti .uh-selection-background { background: #DCD8D2; }
.uh-s-yeti .uh-activeline-background { background: #E7E4E0; }
