.uh-s-night .uh-background { background: #0a001f; }
.uh-s-night .uh-color { color: #f8f8f8; }
.uh-s-night .uh-selected-background { background: #447; }
.uh-s-night .uh-selection-background { background: rgba(68, 68, 119, .99); }
.uh-s-night .uh-activeline-background { background: #1C005A; }
