.uh-s-zenburn .uh-background { background-color: #3f3f3f; }
.uh-s-zenburn .uh-color { color: #3f3f3f; }
.uh-s-zenburn .uh-activeline-background { background: #000000; }
.uh-s-zenburn .uh-selected-background { background: #545454; }
.uh-s-zenburn .uh-selected-background { background: #4f4f4f; }
